$primary-color: #518DD0;
@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');

.btn-primary {
  background: $primary-color !important;
  border-radius: 10px !important;
  font-family: 'Heebo', sans-serif;
  &:hover {
    background: #1e5181 !important;
  }
}

.appLogin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  img {
    margin-bottom: 50px;
  }
}

.noteCard {
  background: #F9F9F9;
  border-radius: 7px !important;
  margin-top: 12px;
  cursor: pointer;
  color: #353535;
  &:hover {
    background-color: #f1f0f0;
    box-shadow: 6px 6px 3px -3px #cdc8c8, -6px 6px 3px -3px #cdc8c8;
  }
  .card-body {
    padding: 10px;
  }
  div div:nth-child(1) {
    font-size: 12px;
    color: #6B6A6A;
  }
}

.noteDetail {
  height: 80vh;
  .date {
    font-size: 12px;
    color: #6B6A6A;
  }
}

.editIcon {
  position: absolute;
  color: #3e3e3e;
  font-size: 30px;
  cursor: pointer;
  bottom: 10px;
  right: 15px;
  &:hover {
    font-size: 40px;
    transition: font-size 0.5s ease-out;
    color: #2d2d2d;
  }
}

.editorDiv button {
  cursor: pointer;
  transform: translateY(100%);
}

.reactQuill {
  background: white;
  height: 75vh;
  .ql-snow.ql-toolbar {
    display: block;
    background: #eaecec;
    // Moves the toolbar to the bottom
    /*bottom: 0;
    width: 96%;
    position: absolute;
    transform: translateY(100%);*/
  }
}

.noNoteSelected {
  font-size: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
}
